.callus {
  padding: 40px 0;
}

.lemon-kitchen {
  background-repeat: no-repeat;
  width: 100%;
}

.callus-text {
  padding: 30px 40px;
  background-color: black;
  color: #e5e5e5;
  width: 100%;
  text-align: center;
  height: auto;
  margin: auto;
}

.callus-text h2 {
  font-size: 1rem;
}

.callus-text p {
  padding-top: 20px;
  line-height: 20px;
  text-align: left;
  font-size: 0.8rem;
}

@media only screen and (max-width: 820px) and (min-width: 430px) {
  .callus {
    padding: 100px 0;
  }

  .callus-text h2 {
    font-size: 1.4rem;
  }

  .callus-text p {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 821px) {
  .callus {
    padding: 200px 0 0;
  }

  .callus-text h2 {
    font-size: 1.6rem;
  }
  .callus-text p {
    font-size: 1rem;
    text-align: center;
  }
}


@media only screen and (min-width: 1025px) {
  .lemon-kitchen {
    width: 70%;
    justify-content: center;
    display: flex;
    margin: auto;
  }

  .callus-text {
    padding: 40px;
    width: 70%;
  }

  .callus-text h2 {
    font-size: 1.7rem;
  }

  .callus-text p {
    font-size: 1.2rem;
    text-align: center;
  }
}