.callus {
  background-image: url("/public/images/lemonkitchen.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: max-content;
  overflow: hidden;
  background-position: center center;
}

.callus-text {
  padding: 30px 40px;
  background-color: black;
  color: #e5e5e5;
  width: 800px;
  text-align: center;
  height: auto;
  margin: auto;
}

.callus-text h2 {
  font-size: 44px;
  line-height: 50px;
}

.callus-text p {
  padding-top: 20px;
  line-height: 30px;
  text-align: left;
}

.callus-p {
  width: 400px;
  margin: auto;
}

@media (width >= 531px) and (width < 830px) {
  .callus {
    height: 400px;
    width: contain;
    margin-top: 200px;
  }

  .callus-text {
    margin: auto;
    width: 400px;
  }

  .callus-text h2 {
    font-size: 14px;
    line-height: 14px;
  }

  .callus-text p {
    padding-top: 10px;
    font-size: 10px;
    line-height: 12px;
  }
  .callus-p {
    width: fit-content;
  }
}

@media (width <= 500px) {
  .callus {
    margin-top: 50px;
  }
  .callus-text {
    width: 100%;
  }
  .callus-text h2 {
    font-size: 12px;
    line-height: 20px;
  }
  .callus-p {
    font-size: 10px;
    width: auto;
  }
}
