.contact-container {
  background-color: #fff;
  text-align: center;
}

.contact-container h1 {
  color: #fff;
  text-align: center;
  background-color: #161616;
  padding: 2rem 0;
}

.contact-container h3 {
  padding: 1.8rem 0;
}

.contact-container p {
  line-height: 1.8rem;
}

.contact-body {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  padding: 2rem 0;
}

.contact-quote {
  padding: 2rem 0;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
}

@media only screen and (max-width: 820px) and (min-width: 430px) {
  .contact-container h3 {
    font-size: 1.4rem;
  }

  .contact-container p {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  ul {
    font-size: 1.2rem;
  }

  .contact-quote {
    padding: 4rem 0 2rem;
  }

  .contact-quote-btn {
    margin: 0;
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 821px) {
}

@media only screen and (min-width: 1025px) {
  .contact-container h3 {
    font-size: 1.3rem;
  }

  .contact-container p {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  ul {
    font-size: 1.2rem;
  }

  .contact-quote {
    padding: 4rem 0 2rem;
  }

  .contact-quote-btn {
    margin: 0;
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
  }
}
