* {
    margin: 0;
}

body {
    background-image: url("/public/images/dark-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;;
}

  