.main {
    padding: 100px;
}

.pitch {
    background-color: #e5e5e5;
    color: #000;
    width: 400px;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 30px;
    right: 40%;
}

.pitch h2 {
    padding: 20px 0;
    line-height: 40px; 
    text-align: center
}

.pitch p {
    line-height: 1.8rem;
}

.construction-img {
    width: 300px;
    z-index:auto;
}

.finishedkitchen-img {
    width: 600px;
}

.pic-pitch {
    position: relative;
    text-align: center;
}