.container {
    background-color: #e5e5e5;
    color: #000;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: sticky;
    top: 0;
    font-size: .8rem;
}


@media only screen and (max-width: 801px) {
    .container{
      flex-wrap: wrap;
      justify-content: center;
      font-size: 10px;
    }
}