.pitch {
  position: relative;
  width: 600px;
  text-align: center;
  margin: auto;
}

.pitch-text {
  background-color: #e5e5e5;
  color: #000;
  padding: 20px 80px;
  margin: auto;
  position: absolute;
}

.pitch h2 {
  padding: 20px 0;
  line-height: 40px;
  text-align: center;
}

.pitch p {
  line-height: 1.8rem;
}

.finishedkitchen-img {
  width: 600px;
}


@media (width >= 531px) and (width < 830px) {
  .pitch {
    margin: auto;
    width: 400px;
    text-align: center;
  }

  .pitch-text {
    background-color: #e5e5e5;
    color: #000;
    padding: 20px;
    margin: auto;
    position: absolute;
  }

  .pitch h2 {
    font-size: 12px;
    line-height: 1rem;
  }
  .pitch p {
    font-size: 10px;
    line-height: 1rem;
  }

  .finishedkitchen-img {
    width: 300px;
  }
}



@media (width <= 530px) {
  .pitch {
    position: static;
    width: max-content;
    margin: auto;
  }
  .pitch-text {
    position: static;
    width: 300px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .finishedkitchen-img {
    width: 250px;
    padding-bottom: 20px;
    display: flex;
    margin: auto;
  }
}