.review-slider {
  padding: 40px;
  text-align: center;
  background-color: #e5e5e5;
  color: #000;
  margin-top: 40px;
  margin-bottom: 40px;
}

.r-slides {
  display: flex;
  justify-content: center;
}

.r-slides h1 {
  font-size: 40px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(59, 59, 59, 0.8);
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.r-slides h1:hover {
  color: rgb(28, 28, 28);
}

.rslider {
  width: 300px;
  margin: auto;
  padding: 30px;
  font-size: 20px;
}

.aslider {
  font-weight: 800;
}
