.review-component {
  width: 70%;
  margin: auto;
  padding: 20px 0;
}

.review-title {
  color: #fff;
  padding: 0 0 40px;
  text-align: center;
}

.review-card-component {
  overflow: hidden;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 40px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid;
  border-color: #fff;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.review-card-top {
  font-size: 1rem;
}

.review-card-bottom {
  font-size: 0.8rem;
  padding-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 820px) and (min-width: 430px) {
  .review-component {
    padding: 600px 0 0;
  }
  .review-card-component {
    padding: 60px;
  }

  .review-card-top {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  
  .review-card-bottom {
    font-size: 1rem;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 821px) {
  .review-component {
    margin: auto;
    padding: 1200px 0 0;
  }
  .review-card-component {
    padding: 80px;
  }

  .review-card-top {
    line-height: 2.5rem;
  }
  
  .review-card-bottom {
    font-size: 1rem;
    padding-top: 50px;
  }
  
}
